@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.header {
  display: grid;
  place-items: center;
  height: 60px;
  box-shadow: 0px 1.5px 1.5px 0px rgba(127, 127, 127, 0.5);
  background-color: #f9e9e2;
}
.header h3 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #d87d49;
}

.font {
  font-size: 24px;
  padding: 5px;
  padding-left: 5px;
}

.form {
  display: flex;
  gap: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  padding: 12px 20px;
}
.form input {
  display: inline-block;
  flex-grow: 1;
  border: 1.5px solid gray;
  border-radius: 10px;
  height: 100%;
  width: 60%;
  padding: 0 10px;
  color: darkgray;
}
.form button {
  display: inline-block;
  border-radius: 15px;
  height: 100%;
  padding: 0 10px;
  color: white;
  background-color: #d87d49;
  cursor: pointer;
}
.form button:hover {
  opacity: 0.75;
  transition: 0.3s;
}
